#main{
    background-color: #eee;
    text-align: center;
    font-family: 'Heebo', sans-serif;
}
h1{
    padding-top:30px;
    font-size:3em;
    font-family: 'Alata', sans-serif;
}
p{
    font-size:1.2em;
}
#img-div{
    background-color: white;
    text-align: center;
    padding:10px;
}
h2{
    margin:50px 0;
}
#image{
    display:block;
    max-width: 100%;
    height: auto;
    margin:0 auto;
}
#img-caption{
    margin:15px 0 5px;
    font-size:1em;
}
ul{
    max-width:550px;
    margin:0 auto 50px;
    text-align: left;
    line-height: 1.6;
}
li{
    margin:16px 0;
}
a{
    color:#477ca7;
}
a:visited {
    color: #74638f;
}
#info{
    padding:30px;
}
blockquote{
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
}
